<!-- <app-zippy-basic>
  <p>Is content projection cool?</p>
</app-zippy-basic> -->

<!-- <app-zippy-multislot>
  <p question>Is content projection cool?</p>
  <p>Let`s learn about content projection</p>
  <p>Let`s learn about content projection</p>
</app-zippy-multislot> -->

<app-menu></app-menu>
<!-- <div>
  <input type="text" (input)="title = $any($event.target).value" />
</div>
<div>
  <input type="checkbox" checked (change)="display = !display" />
    Display
</div> -->
<app-rating></app-rating>
<!-- <app-lifecycletest *ngIf="display" [title]="title"></app-lifecycletest> -->
<div class="container">
  <h2>In Theaters</h2>
  <app-movies-list [movies]="moviesInTheaters"></app-movies-list>

  <h2>Future Releases</h2>
  <app-movies-list [movies]="moviesFutureReleases"></app-movies-list>
</div>
