<!-- <app-zippy-basic>
  <p>Is content projection cool?</p>
</app-zippy-basic> -->

<!-- <app-zippy-multislot>
  <p question>Is content projection cool?</p>
  <p>Let`s learn about content projection</p>
  <p>Let`s learn about content projection</p>
</app-zippy-multislot> -->

<app-menu></app-menu>
<app-rating></app-rating>
<!-- <div class="container">
  <h2>In Theaters</h2>
  <app-movies-list [movies]="moviesInTheaters"></app-movies-list>

  <h2>Future Releases</h2>
  <app-movies-list [movies]="moviesFutureReleases"></app-movies-list>
</div> -->
